name: Run main.py daily

on:
  schedule:
    # Runs at 11:03 PM IST (5:33 PM UTC) every day
    - cron: '32 18 * * *'
  workflow_dispatch: # Allows manual triggering

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # or your preferred version

      - name: Install dependencies (if any)
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Main.py
        run: python Main.py
